.title-style{
    font-family: 'Protest Strike', sans-serif;
};
.background_form {
    background: #FFC66B !important;
};
.background_inputt {
    background: #FFF0BA !important;
};
.size-images {
    max-width: 200px !important;
    max-height: 200px !important;
};




