.title-style{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
};

.background_form {
    background: #FFC66B !important;
};
.background_inputt {
    background: #FFF0BA !important;
};
.size-images {
    max-width: 200px !important;
    max-height: 200px !important;
};




